{% extends "base.html" %}

{% block content %}
    <h1>Удалить клиента</h1>
    <form action="{{ url_for('remove_client') }}" method="post" autocomplete="off">

        <input name="clients" list="clients" placeholder="Клиент"/>

        <datalist id = "clients">
            {% for client in clients %}
                <option value="{{ client[0], client[1], client[2], client[3], client[4] }}" />
            {% endfor %}
        </datalist>

        <input type="submit" value="Удалить клиента">
    </form>

{% endblock %}